.container {
  width: 100%;
  padding-left: 15 + px;
  padding-right: 15 + px;
  margin: 0 auto;
  max-width: $wxl;

  @media (min-width: $sm) {
    padding-left: 30 + px;
    padding-right: 30 + px;
  }

  // @media (min-width: $md) {
  // 	max-width: $wmd;
  // }
  // @media (min-width: $lg) {
  // 	max-width: $wlg;
  // }
  // @media (min-width: $xl) {
  // 	max-width: $wxl;
  // }
  @media (min-width: $xxl) {
    width: 100%;
    max-width: $wxxl;
  }
}

body {
  overflow-y: scroll;
}

h1 {
  color: $color-dark;
  font-weight: 600;
  $fs: 42;
  font-size: calc($fs / $f-size) + em;
  line-height: calc(50 / $fs * 100%);

  @media (max-width: $msm) {
    $fs: 35;
    font-size: calc($fs / $f-size) + em;
    line-height: calc(40 / $fs * 100%);
  }
}